name: Instrument

on:
  workflow_dispatch:

jobs:
  instrument:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: ${{ github.workspace }}/target
    env:
      FusionLiteServerHost: ${{ vars.FUSIONLITE_SERVER_HOST }}
      FusionLiteServerPort: ${{ vars.FUSIONLITE_SERVER_PORT }}
      FusionLiteServerUser: ${{ secrets.FUSIONLITE_SERVER_USER }}
      FusionLiteServerKeyFile: ${{ secrets.FUSIONLITE_SERVER_KEY_FILE }}
      FusionLiteProject: ${{ github.event.repository.name }}
      ApplicationFile: webgoat-2024.2-SNAPSHOT.jar
      ApplicationInclude: ""
      ApplicationExclude: ""
      InstrumentedFolder: Instrumented
      InstrumentedFile: webgoat-2024.2-SNAPSHOT.jar

    steps:
    - name: Print environment variables
      run: |
        echo "FusionLiteServerHost: ${{ env.FusionLiteServerHost }}"
        echo "FusionLiteServerPort: ${{ env.FusionLiteServerPort }}"
        echo "FusionLiteServerUser: ${{ env.FusionLiteServerUser }}"
        echo "FusionLiteServerKeyFile: ${{ env.FusionLiteServerKeyFile }}"
        echo "FusionLiteProject: ${{ env.FusionLiteProject }}"
        echo "ApplicationFile: ${{ env.ApplicationFile }}"
        echo "ApplicationInclude: ${{ env.ApplicationInclude }}"
        echo "ApplicationExclude: ${{ env.ApplicationExclude }}"
        echo "InstrumentedFolder: ${{ env.InstrumentedFolder }}"
        echo "InstrumentedFile: ${{ env.InstrumentedFile }}"
      
    - name: Print current working directory
      run: pwd

    - name: keycopy
      run: |
          #echo "$env:FusionLiteServerKeyFile" > FusionLiteServerKeyFile
          @"
          $env:FusionLiteServerKeyFile
          "@ | Out-File -FilePath "C:\TEMP\FusionLiteServerKeyFile" -Encoding ascii

          $FusionLiteServerKeyFilePath = "C:\TEMP\FusionLiteServerKeyFile"
          
          icacls $FusionLiteServerKeyFilePath /inheritance:d
        
          # Explicitly remove dangerous groups
          icacls $FusionLiteServerKeyFilePath /remove "NT AUTHORITY\Authenticated Users"
          icacls $FusionLiteServerKeyFilePath /remove "BUILTIN\Users"
          icacls $FusionLiteServerKeyFilePath /remove "Everyone"
        
          # Grant ONLY the current runner service account
          icacls $FusionLiteServerKeyFilePath /grant:r "$($env:UserName):R"
          echo "File: $FusionLiteServerKeyFilePath "
          echo "ssh -i  $FusionLiteServerKeyFilePath  -p $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost"
          
    - name: Clean Project
      run: |
          $cmdtext = "Clean" + ":" + $env:FusionLiteProject
          echo "Cmd : $cmdtext"
          ssh -i  "$FusionLiteServerKeyFilePath"  -p $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost $cmdtext
          echo "Clean Project Done"

    - name: Transmitting Project Files
      run: |
          echo "cd $env:FusionLiteProject/Input`nput $env:ApplicationFile`nexit" | Out-File -FilePath "sftp_put.txt" -Encoding ASCII

          sftp -b sftp_put.txt -i  $FusionLiteServerKeyFilePath  -P $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost
          
    - name: Preprocessing Project
      run: |
          $cmdtext = "PreProcess" + ":" + $env:FusionLiteProject
          echo "Cmd : $cmdtext"
          ssh -i $FusionLiteServerKeyFilePath -p $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost $cmdtext

    - name: Instrument Project
      run: |
          $cmdtext = "Instrument" + ":" + $env:FusionLiteProject
          echo "Cmd : $cmdtext"
          ssh -i  $FusionLiteServerKeyFilePath  -p $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost $cmdtext

    - name: PostProcess Project
      run: |
          $cmdtext = "PostProcess" + ":" + $env:FusionLiteProject
          echo "Cmd : $cmdtext"
          ssh -i  $FusionLiteServerKeyFilePath  -p $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost $cmdtext

    - name: Transmitting Project Files
      run: |
          if (Test-Path -Path $env:InstrumentedFolder) {
            Remove-Item -Path $env:InstrumentedFolder -Recurse -Force
            New-Item -ItemType Directory -Path $env:InstrumentedFolder
          } else {
            New-Item -ItemType Directory -Path $env:InstrumentedFolder
          }
          echo "lcd $env:InstrumentedFolder`ncd $env:FusionLiteProject/Output`nget $env:InstrumentedFile`nexit" | Out-File -FilePath "sftp_get.txt" -Encoding ASCII

          sftp -b sftp_get.txt -i $FusionLiteServerKeyFilePath -P $env:FusionLiteServerPort $env:FusionLiteServerUser@$env:FusionLiteServerHost
